LDM:
  uma: 931.49410372 # 1u = 931.49410372 MeV
  m_n: 1008664.915823 # micro-u
  m_H: 1007825.032241 # micro-u
  m_e: 0.51099895069 # MeV
  av: 14.9297  # MeV
  aS: 15.0580  # MeV
  ac: 0.6615  # MeV
  aA: 21.6091 # MeV
  ap: 10.1744 # MeV

data:
  csv_file: 'data/mass2016_cleaned_with_#.csv'
  data_feature: 'bind_ene_total'
  test_size: 0.3

training:
  optimizer_name: Adamax
  num_epochs: 225000 # It has to be greater than plot_skipping_epochs
  plot_skipping_epochs: 2000
  learning_rate: 0.002 # Default value
  patience: 50000

general:
  random_state: 42
  N_MIN: 8
  N_MAX: 180
  Z_MIN: 8
  Z_MAX: 120
  BE_C1: 14.4381
  BE_C2: 1.55468e-6

model:
  conv1:
    kernel_size: 3
    stride: 1
    padding: 1
  conv2:
    kernel_size: 3
    stride: 1
    padding: 1

kfolding:
  n_splits: 5

fontsizes:
  font_size: 24
  axes_title_size: 24
  axes_label_size: 24
  xtick_labelsize: 24
  ytick_labelsize: 24
  legend_fontsize: 22
  figure_title_size: 26
